.blend1

L06/VR06_AvateeringKinect2/Library
L06/VR06_AvateeringKinect2/Temp
L06/VR06_AvateeringKinect2/Library/*
L06/VR06_AvateeringKinect2/Temp/*
L06/VR06_AvateeringKinect2/.vs
L06/VR06_AvateeringKinect2/.vs/*
L06/VR06_AvateeringKinect2/obj
L06/VR06_AvateeringKinect2/obj/*